@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

.wrapper {
    position: relative;
    font-family: "Inter", sans-serif;
    width: 314px;
}

.selectBox {
    background: $color-white;
    border: 2px solid $color-border-default;
    border-radius: $border-radius-main;
    padding: $spacing-size-x-large $spacing-size-xx-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: border $transition-default, box-shadow $transition-default;
    margin-bottom: $spacing-size-large;

    &:hover {
        border-color: $color-primary;
    }

    &.focused {
        border-color: $color-primary;
        box-shadow: $box-shadow-focus;
    }

    span {
        color: $color-text-default;
    }
}

.selectedContainer {
    display: flex;
    flex-wrap: wrap;

    .selectedItem {
        border-radius: $border-radius-item;
        padding: $spacing-size-small;
        margin: 0;
        display: flex;
        align-items: center;
        font-size: $font-size-base;
        color: $color-text-default;
    }

    .removeButton {
        background: none;
        border: none;
        color: $color-text-muted;
        font-size: $font-size-base;
        cursor: pointer;
        padding: 0;
        margin-left: $spacing-size-small;
        line-height: 1;
        @include fade-opacity(0);
    }

    .selectedItem:hover .removeButton {
        @include fade-opacity(1);
    }

    .removeButton:hover {
        color: $color-bg-red;
    }

    .input {
        border: none;
        outline: none;
        padding: $spacing-size-normal $spacing-size-large;
        font-size: $font-size-base;
        flex: 1;
        min-width: 100px;
        background-color: transparent;
        color: $color-text-default;
    }

    .input::placeholder {
        color: $color-text-muted;
    }
}

.placeholder {
    color: $color-text-default;
    font-size: $font-size-base;
    flex: 1;
    text-align: left;
}

.arrow {
    width: $height-size-large;
    height: $height-size-large;
    transition: transform $transition-default;
    color: $color-text-muted !important;
}

.rotated {
    transform: rotate(180deg);
}